---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = 'Blog';
---
<BaseLayout pageTitle={pageTitle}>
  
  <section class="blog">
    <h1>Blog Posts</h1>
    <ul>
      {allPosts.map((post: any) => <BlogPost
        title={post.frontmatter.title}
        description={post.frontmatter.description}
        url={post.url}
        >
        </BlogPost>
        )}
    </ul>
  </section>
    
  <style>

    h1 {
      font-size: 2em;
      font-weight: 600;
      text-align: center;
      margin-block: 1em;
    }
        
    .blog {
      flex-grow: 1;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 1em;
    }



  </style>
</BaseLayout>
