---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = 'Blog'
---

<BaseLayout pageTitle={pageTitle}>

  <section class="projects">
    <h1>This Page is in Development!</h1>
  </section>
  
  <style>
    .projects {
      flex-grow: 1;
    }
  </style>
</BaseLayout>
