---
---

<footer>
  <a href="/">Contact Me</a> <!-- TODO: impl 'Contact Me' form and replace 'href="/"' -->
  <a href="https://github.com/JacksonSkellington/my-website" target="_blank">Site source code</a>
</footer>
