---
---

<footer>
  <a href="/my-website">Contact Me</a> <!-- TODO: impl 'Contact Me' form and replace 'href="/my-website"' -->
  <a href="https://github.com/JacksonSkellington/my-website" target="_blank">Site source code</a>
</footer>
