---
---
<div>
  <h5>Syria, Lattakia<br><span class="lattakia-time">Error!</span></h5>
</div>

<script>
  import lattakiaTime from '../scripts/lattakiaTime.js';
  const clock = document.querySelector(".lattakia-time");
  clock.textContent = lattakiaTime;
</script>
